/* css for typecho_grey-paper

主要配置如下：

  * 背景色：#ddd、#f6f6f6
  * 标准字体：14px 1.4 #444
  * 深/中/浅灰：#888、#999、#aaa
  * 响应式布局适配1024p，普屏，平板，手机四个阶段
*/


body {
	background: #ddd url("images/noise.png");
	color: #999;
	font-family: 'Microsoft YaHei',sans-serif,serif;
	font-size: 14px;
	text-align: center;
	margin: 0px;
	line-height: 185%;
}

.wrap {
	width: 1000px;
	margin: auto;
	word-wrap: break-word;
}

/* 通用标签显示 */

h1,h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

blockquote {
	font-style: italic;
	border-left: 3px solid #888;
	padding-left: 6px;
	margin-left: 6px;
}

img {
	max-width: 100%;
}

pre {
	font-family: monospace, serif;
	overflow-x: auto;
	margin: 12px 0px;
	padding: 12px 12px;
	background-color: #444;
	color: #eee;
	font-size: 12px;
	line-height: 150%;
	border: 1px #aaa solid;
}

code {
	font-family: monospace, serif;
	background-color: #444;
	color: #eee;
	font-size: 12px;
	padding: 3px 6px;
	margin: 0px 3px;
	border-radius: 3px;
}

pre code {
	padding: 0px;
	margin: 0px;
}

table {
	margin: 1em 0;
	border: 1px solid #aaa;
}

table th, table td {
	padding: 3px 6px;
}

table th {
	font-weight: bold;
}

table tr {
	background-color: #fcfcfc;
	border: 1px solid #ddd;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

table tr:hover {
	background-color: #eee;
}

a:link, a:active, a:visited {
	color: #6a7794;
	text-decoration: none;
}

a:hover {
	color: #50aa38;
	text-decoration: underline;
}

.post-main ul,
.post-main ol {
	padding-left: 24px;
}

/* 站点通栏 */

.sitebar {
	background-color: #222;
	padding: 24px;
	margin-bottom: 42px;
	font-size: 16px;
}

.sitebar-main {
	width: 840px;
	margin: auto;
}

.sitebar a {
	color: #999;
	margin: 0 6px;
}

.sitebar a:hover {
	color: #ddd;
}

.sitebar .focus {
	color: #eee;
}

.sitebar .site-title {
	float: left;
	color: #f6f6f6;
	font-weight: bold;
}

/* 头部顶栏 */

.header {
	float: left;
	width: 200px;
}

.header .banner {
	padding: 0px 36px;
}

.header .logo {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 4px solid #eee;
	box-shadow: 2px 2px 1px #aaa;
}

.header .name {
	margin: 12px 0px 18px 0px;
	font-size: 18px;
	font-weight: bold;
}

.header .name a {
	color: #555;
}

.header .desc {
	font-size: 12px;
}

.nav {
	margin: 12px 0;
}

.nav ul {
	padding-left: 48px;
	padding-right: 30px;
	font-size: 13px;
	list-style: none;
	text-align: left;
	margin: 0;
}

.nav ul li {
	border-bottom: #bbb 1px solid;
	padding: 3px 1px;
}

.nav ul li a {
	color: #6a7794;
	font-weight: bold;
	margin-left: 1px;
}

.nav form {
	margin: 12px 30px 12px 48px;
}

.nav input {
	background-color: #eee;
	float: right;
	border: 0px solid #999;
	width: 114px;
	border-radius: 2px;
	padding: 4px;
}

/* 主要内容 */

.content {
	float: left;
	width: 782px;
	margin-top: 30px;
	text-align: left;
}

.content .arrow {
	float: left;
	border-top: 40px solid #f6f6f6;
    border-left: 40px solid transparent; 
}

.content-main {
	margin-left: 40px;
}

.post-main {
	width: 510px;
	float: left;
	margin-bottom: 30px;
	padding: 12px 30px 24px 30px;
	background-color: #f6f6f6;
	color: #444;
	box-shadow: 1px 1px 1px #999;
}

.post-title,
.post-title a {
	color: #222;
	font-size: 16px;
	font-weight: bold;
}

.post .main-img {
	float: left;
	width: 166px;
	margin: 18px 18px 0px 0px;
}

.post .more {
	float: right;
}

.post-meta {
	float: left;
	width: 172px;
	padding: 2px 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}

.post-meta li {
	margin: 0px 0px 0px 36px;
}

.post-meta a {
	color: #999;
}

.post-meta .time {
	list-style: url("images/time.png") outside circle;
}

.post-meta .like {
	list-style: url("images/like.png") outside circle;
}

.post-meta .tag {
	list-style: url("images/tag.png") outside circle;
}

/* 页脚 */

.footer {
	margin-bottom: 24px;
	font-size: 12px;
}

.footer a {
	color: #999;
}

/* 评论 */

.comments {
	font-size: 12px;
}

.comments ol {
	padding: 0px;
}

.comments li {
	display: block;
	background: #f6f6f6;
	border: 1px solid #aaa;
	margin: 6px 0px;
	padding: 4px 9px;
}

.comments li:hover {
	background: #f0f0f0;
}

.comments .respond {
	border-top: 1px #aaa solid;
	margin: 12px 0;
	padding: 6px 0;
}

.comments .cancel-comment-reply {
	float: right;
}

.comments .inputbox {
	padding: 4px;
	border: 1px solid #aaa;
	background-color: #fff;
	box-shadow: none;
	font-size: 12px;
}

.comments input {
	width: 30%;
	margin-right: 4px;
}

.comments textarea {
	width: 96%;
	height: 60px;
	font-size: 12px;
	resize: vertical;
}

.comments button {
	float: right;
	margin-right: 2%;
	font-size: 12px;
	padding: 4px 12px;
	border: 1px solid #aaa;
	background-color: #ddd;
}

.comments .ps,
.comments .ps a {
	color:#999;
}

.comment-body {
	clear: both;
}

.comment-avatar {
	float: left;
	margin: 6px 6px 0px 0px;
}

.comment-author {
	font-weight: bold;
}

.comment-content {
	max-width: 90%;
	display: inline-block;
}

.comment-content p {
	margin: 0;
}

.comment-time {
	float: right;
}

.comment-reply {
	float: right;
}

/* 翻页 */

.page-navigator {
	margin: 24px 6px;
	padding: 0px;
	font-size: 13px;
	font-weight: bold;
}

.page-navigator li {
	display: inline-block;
	margin: 0 4px;
	padding: 2px 10px;
}

.page-navigator .current {
	background-color: #f6f6f6;
	box-shadow: -1px -1px 1px #999;
}

.page-navigator a {
	color: #444;
}

/* 普屏模式 */

@media screen and (max-width: 1012px) {

.wrap {
	width: 100%;
}

.sitebar-main {
	width: 100%;
}

.content {
	width: 610px;
}

.post {
	background-color: #e7e7e7;
	box-shadow: 1px 1px 1px #999;
}

.post-main {
	margin-bottom: 0px;
	float: none;
}

.post-meta {
	float: none;
	width: 100%;
	margin: 3px 0px 18px 0px;
}

.post-meta li {
	float: left;
}

}

/* 平板模式 */

@media screen and (max-width: 860px) {

.sitebar {
	margin-bottom: 12px;
	padding: 12px 24px;
}

.site-nav {
	float: right;
}

.header {
	float: none;
	width: 570px;
	margin: auto;
}

.header .banner {
	padding: 0px 12px;
	width: 180px;
	float: left;
	border-right: #bbb 1px solid;
}

.header .banner .logo {
	width: 48px;
	height: 48px;
	float: left;
	border: 3px solid #eee;
}

.header .banner .title{
	float: left;
	width: 120px;
	padding: 6px 0px;
}

.header .banner .name {
	margin: 6px 0px;
	padding: 0px;
	font-size: 18px;
}

.header .banner  .desc {
	margin-left: 12px;
}

.nav ul {
	display: inline;
	padding: 0;
}

.nav ul li {
	display: inline-block;
	border-bottom: none;
	padding: 0 2px;
}

.nav form {
	margin: 12px 0;
}

.content {
	margin: auto;
	float: none;
	width: 570px;
}

.content .arrow {
	display: none;
	float: none;
}

.content-main {
	margin-left: 0px;
}

}

/* 手机模式 */

@media screen and (max-width: 660px) {

.wrap {
	width: 85%;
}

.sitebar {
	padding: 8px 12px;
	font-size: 14px;
}

.sitebar a {
	margin: 0 3px;
}

.header {
	width: auto;
}

.header .banner {
	width: auto;
}

.header .title{
	display: none;
}

.header .name {
	display: none;
}

.content {
	width: 100%;
}

.post-main {
	width: auto;
	padding: 4px 18px;
}

.post .main-img {
	width: 40%;
}

.post-meta li {
	margin-left: 30px;
}

.comments input {
	width: 27%;
}

.comments .comment-content {
	max-width: 84%;
}

.page-navigator li {
	margin: 0 2px;
	padding: 0 3px;
}

}